<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.AMP.Website" description="AMP content" dependencies="Foundation.*,Feature.*" extends="AMP.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/AMP" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/AMP" />  

                        <include name="Content" database="master" path="/sitecore/content/AMP" />
                        <include name="Media" database="master" path="/sitecore/media library/AMP" />
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
