<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="E:\VSTS\Sitecore AMP\src" />
    <sc.variable name="rootHostName" value="sc.local" />
    <!--<sites>
      <site name="habitat">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>-->
  </sitecore>
</configuration>