<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.AMP" description="Foundation AMP" dependencies="Foundation.Serialization" extends="AMP.Foundation">
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
